body {
    padding-top: 5rem;
}
.the_container{
  border:solid;
  height:50em;
}
#profile_pic{
  border: solid;
  margin: 10px;
  float: left;
  width:20em;
}
#profile_info{
  border: black solid 2px;
  float: left;
  margin: 10px;

}
#profile_pic img{
  height:100%;
  width:100%;
  border:none;
}
